@using MvcKutuphane.Models.Entity;
@model List<TBLDUYURULAR>
@{
    ViewBag.Title = "Duyurular";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>Duyurular</h2>

<table class="table table-bordered">
    <tr>
        <th>Kategori</th>
        <th>Tarih</th>
        <th>İçerik</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.KATEGORI</td>
            <td>@Convert.ToDateTime(item.TARIH).ToString("dd/MM/yyyy")</td>
            <td>@item.ICERIK</td>
        </tr>
    }
</table>

